<html>
    <head>
        <title>Iaweb</title>
    </head>
    <body>
        <div>
            <h1><a href="">Maria's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I finally made it! My first post.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>One full day of programming is almost over. I am exhausted.</p>
        </div>
    </body>
</html>
